
/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
:root {
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #131313;
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;
  --body-font-family: "Okra", "Okra Fallback", "Arial", "sans-serif";
  --heading-font-family: "Lato", "Helvetica Neue", "Arial", "Helvetica", "sans-serif";
  --body-font-size-m: 14px;
  --body-font-size-s: 11.62px;
  --body-font-size-xs: 9.38px;
  --heading-font-size-xxl: 28px;
  --heading-font-size-xl: 21px;
  --heading-font-size-l: 16.38px;
  --heading-font-size-m: 14px;
  --heading-font-size-s: 11.62px;
  --heading-font-size-xs: 9.38px;
  --nav-height: 450px;
  --header-height: var(--nav-height);
}

/* fallback fonts */
@font-face {
  font-family:"Okra Fallback";
  font-style:normal;
  font-weight:400;
  src:local("Arial");
  ascent-override:95.85%;
  descent-override:24.79%;
  line-gap-override:0.00%;
  size-adjust:109.32%;
}

@font-face {
  font-family:"Okra Fallback";
  font-style:normal;
  font-weight:600;
  src:local("Arial Bold");
  ascent-override:100.76%;
  descent-override:26.06%;
  line-gap-override:0.00%;
  size-adjust:103.99%;
}

@media (width>=900px) {
  :root {
    --body-font-size-m: 14px;
    --body-font-size-s: 11.62px;
    --body-font-size-xs: 9.38px;
    --heading-font-size-xxl: 28px;
    --heading-font-size-xl: 21px;
    --heading-font-size-l: 16.38px;
    --heading-font-size-m: 14px;
    --heading-font-size-s: 11.62px;
    --heading-font-size-xs: 9.38px;
    --nav-height: 450px;
  }
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header, footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"], footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: 40px;
}

h1 {
  font-size: var(--heading-font-size-xxl);
}

h2 {
  font-size: var(--heading-font-size-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: var(--heading-font-size-m);
}

h5 {
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
}

p, dl, ol, ul, pre, blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code, pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main>div {
  margin: 40px 16px;
}

input, textarea, select, button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  overflow-wrap: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link, button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--link-color);
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover, a.button:focus, button:hover, button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main>.section {
  margin: 40px 0;
}

main>.section>div {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

main>.section:first-of-type {
  margin-top: 0;
}

@media (width>=900px) {
  main>.section>div {
    padding: 0 32px;
  }
}

/* section metadata */
main .section.light, main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}

.section.hidden {
  display: none;
}

.section.section-1 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll -880.132px 0px / 100% 100% padding-box border-box;
}

.section.section-2 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll 364.653px 0px / 100% 100% padding-box border-box;
}

.section.section-3 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll -147.026px 0px / 100% 100% padding-box border-box;
}

.section.section-4 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll 758.797px 0px / 100% 100% padding-box border-box;
}

.section.section-5 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll 151.249px 0px / 100% 100% padding-box border-box;
}

.section.section-6 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll -835.574px 0px / 100% 100% padding-box border-box;
}

.section.section-7 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll 959.451px 0px / 100% 100% padding-box border-box;
}

.section.section-8 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll 533.816px 0px / 100% 100% padding-box border-box;
}

.section.section-9 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll -6.90583px 0px / 100% 100% padding-box border-box;
}

.section.section-10 {
  background: rgb(244, 244, 244) none repeat scroll 0% 0% / auto padding-box border-box;
}

.section.section-11 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll 990.471px 0px / 100% 100% padding-box border-box;
}

.section.section-12 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll 802.552px 0px / 100% 100% padding-box border-box;
}

.section.section-13 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll 858.035px 0px / 100% 100% padding-box border-box;
}

.section.section-14 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll 432.903px 0px / 100% 100% padding-box border-box;
}

.section.section-15 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll 955.433px 0px / 100% 100% padding-box border-box;
}

.section.section-16 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll -934.316px 0px / 100% 100% padding-box border-box;
}

.section.section-17 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll 721.836px 0px / 100% 100% padding-box border-box;
}

.section.section-18 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll 976.487px 0px / 100% 100% padding-box border-box;
}

.section.section-19 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll 237.034px 0px / 100% 100% padding-box border-box;
}

.section.section-20 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll -7.10733px 0px / 100% 100% padding-box border-box;
}

.section.section-21 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll 931.865px 0px / 100% 100% padding-box border-box;
}

.section.section-22 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll -629.497px 0px / 100% 100% padding-box border-box;
}

.section.section-23 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll 604.508px 0px / 100% 100% padding-box border-box;
}

.section.section-24 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll 895.722px 0px / 100% 100% padding-box border-box;
}

.section.section-25 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll -917.955px 0px / 100% 100% padding-box border-box;
}

.section.section-26 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll -663.395px 0px / 100% 100% padding-box border-box;
}

.section.section-27 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll 831.795px 0px / 100% 100% padding-box border-box;
}

.section.section-28 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll 746.812px 0px / 100% 100% padding-box border-box;
}

.section.section-29 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll -146.809px 0px / 100% 100% padding-box border-box;
}

.section.section-30 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll 812.627px 0px / 100% 100% padding-box border-box;
}

.section.section-31 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll -880.213px 0px / 100% 100% padding-box border-box;
}

.section.section-32 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll 831.812px 0px / 100% 100% padding-box border-box;
}

.section.section-33 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll 340.638px 0px / 100% 100% padding-box border-box;
}

.section.section-34 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll 999.696px 0px / 100% 100% padding-box border-box;
}

.section.section-35 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll 1000px 0px / 100% 100% padding-box border-box;
}

.section.section-36 {
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, rgb(239, 241, 243) 4%, rgb(226, 226, 226) 25%, rgb(239, 241, 243) 36%) repeat scroll -726.587px 0px / 100% 100% padding-box border-box;
}